In [1]:
# this may take a few minutes..
%run prep.py

** Created LCL dataset in 0.00s **

In [2]:
from prep import data_dir

import dask
import dask.dataframe
from dask.distributed import Client
import pandas as pd

client = Client()

In [3]:
columns = [
    "lclid",
    "stdortou",
    "dt",
    "c",
    "acorn",
    "acorn_grouped"
]

df = dask.dataframe.read_csv(
    data_dir / "low-carbon-london/*.csv",
    dtype={
        "lclid": "category",
        "stdortou": "category",
        "acorn": "category",
        "acorn_grouped": "category"
    },
    parse_dates=["dt"],
    names=columns,
    header=0
)

df.c = (
    df.c.map_partitions(pd.to_numeric, errors="coerce", downcast="float")
    .fillna(0)
)

In [4]:
df.tail()

           lclid stdortou                  dt      c    acorn acorn_grouped
73081  MAC004221      Std 2013-08-06 04:30:00  0.017  ACORN-E      Affluent
73082  MAC004221      Std 2013-08-06 05:00:00  0.017  ACORN-E      Affluent
73083  MAC004221      Std 2013-08-06 05:30:00  0.017  ACORN-E      Affluent
73084  MAC004221      Std 2013-08-06 06:00:00  0.017  ACORN-E      Affluent
73085  MAC004221      Std 2013-08-06 06:30:00  0.017  ACORN-E      Affluent

In [5]:
%%time
len(df)

CPU times: user 7.36 s, sys: 702 ms, total: 8.06 s
Wall time: 1min 29s

167932474

In [6]:
%%time
std_, max_ = dask.compute(df.c.std(), df.c.max())
print("std: {std_}")
print("max: {max_}")

std: {std_}
max: {max_}
CPU times: user 10.4 s, sys: 874 ms, total: 11.3 s
Wall time: 1min 38s