In [6]:
# this may take a few minutes..
%run prep.py

** Created LCL dataset in 0.00s **

In [22]:
from prep import data_dir

import pandas as pd

In [8]:
df = pd.read_csv(data_dir / "low-carbon-london/1.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   LCLid                    1000000 non-null  object
 1   stdorToU                 1000000 non-null  object
 2   DateTime                 1000000 non-null  object
 3   KWH/hh (per half hour)   1000000 non-null  object
 4   Acorn                    1000000 non-null  object
 5   Acorn_grouped            1000000 non-null  object
dtypes: object(6)
memory usage: 45.8+ MB

In [9]:
df.columns

Index(['LCLid', 'stdorToU', 'DateTime', 'KWH/hh (per half hour) ', 'Acorn',
       'Acorn_grouped'],
      dtype='object')

In [10]:
# category
df["LCLid"].value_counts().head()

MAC000018    39082
MAC000021    39079
MAC000020    39079
MAC000022    39072
MAC000033    39071
Name: LCLid, dtype: int64

In [11]:
# category, could make it a bool though
df.stdorToU.value_counts()

Std    1000000
Name: stdorToU, dtype: int64

In [12]:
# timeseries (pd.to_datetime)
df.DateTime

0         2012-10-12 00:30:00.0000000
1         2012-10-12 01:00:00.0000000
2         2012-10-12 01:30:00.0000000
3         2012-10-12 02:00:00.0000000
4         2012-10-12 02:30:00.0000000
                     ...
999995    2012-11-08 08:00:00.0000000
999996    2012-11-08 08:30:00.0000000
999997    2012-11-08 09:00:00.0000000
999998    2012-11-08 09:30:00.0000000
999999    2012-11-08 10:00:00.0000000
Name: DateTime, Length: 1000000, dtype: object

In [13]:
pd.to_datetime(df.DateTime)

0        2012-10-12 00:30:00
1        2012-10-12 01:00:00
2        2012-10-12 01:30:00
3        2012-10-12 02:00:00
4        2012-10-12 02:30:00
                 ...
999995   2012-11-08 08:00:00
999996   2012-11-08 08:30:00
999997   2012-11-08 09:00:00
999998   2012-11-08 09:30:00
999999   2012-11-08 10:00:00
Name: DateTime, Length: 1000000, dtype: datetime64[ns]

In [14]:
# consumption (kwh)
df["KWH/hh (per half hour) "]

0              0
1              0
2              0
3              0
4              0
           ...
999995     0.228
999996     0.042
999997     0.076
999998      0.07
999999     0.005
Name: KWH/hh (per half hour) , Length: 1000000, dtype: object

In [15]:
# some rows have "Null" instead of float
df["KWH/hh (per half hour) "].iloc[3238:3243]

3238      0.36
3239     0.233
3240       Null
3241     0.147
3242     0.133
Name: KWH/hh (per half hour) , dtype: object

In [16]:
# coerce to numeric, fillna and downcast
pd.to_numeric(df["KWH/hh (per half hour) "], errors="coerce", downcast="float").fillna(0)

0         0.000
1         0.000
2         0.000
3         0.000
4         0.000
          ...
999995    0.228
999996    0.042
999997    0.076
999998    0.070
999999    0.005
Name: KWH/hh (per half hour) , Length: 1000000, dtype: float32

In [17]:
# category
df.Acorn.value_counts()

ACORN-E    339033
ACORN-Q    114602
ACORN-P    113598
ACORN-K     88209
ACORN-J     78148
ACORN-H     76108
ACORN-A     63225
ACORN-U     39069
ACORN-D     39065
ACORN-L     25238
ACORN-N     23705
Name: Acorn, dtype: int64

In [18]:
# category
df["Acorn_grouped"].value_counts()

Affluent       441323
Adversity      365352
Comfortable    154256
ACORN-U         39069
Name: Acorn_grouped, dtype: int64

In [19]:
columns = ["lclid", "stdortou", "dt", "c", "acorn", "acorn_grouped"]

df2 = pd.read_csv(
    data_dir / "low-carbon-london/1.csv",
    dtype={
        "lclid": "category",
        "stdortou": "category",
        "acorn": "category",
        "acorn_grouped": "category"
    },
    parse_dates=["dt"],
    names=columns,
    header=0
)

df2["c"] = (
    pd.to_numeric(df2["c"], errors="coerce", downcast="float")
    .fillna(0)
)

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   lclid          1000000 non-null  category
 1   stdortou       1000000 non-null  category
 2   dt             1000000 non-null  datetime64[ns]
 3   c              1000000 non-null  float32
 4   acorn          1000000 non-null  category
 5   acorn_grouped  1000000 non-null  category
dtypes: category(4), datetime64[ns](1), float32(1)
memory usage: 15.3 MB

In [20]:
df2.tail()

            lclid stdortou                  dt      c    acorn acorn_grouped
999995  MAC000036      Std 2012-11-08 08:00:00  0.228  ACORN-E      Affluent
999996  MAC000036      Std 2012-11-08 08:30:00  0.042  ACORN-E      Affluent
999997  MAC000036      Std 2012-11-08 09:00:00  0.076  ACORN-E      Affluent
999998  MAC000036      Std 2012-11-08 09:30:00  0.070  ACORN-E      Affluent
999999  MAC000036      Std 2012-11-08 10:00:00  0.005  ACORN-E      Affluent

In [ ]:
columns = [
    "lclid",
    "stdortou",
    "dt",
    "c",
    "acorn",
    "acorn_grouped",
]

ddf = dd.read_csv(
    DATA_DIR / "low-carbon-london/*.csv",
    dtype={
        "lclid": "string",
        "stdortou": "category",
        "acorn": "category",
        "acorn_grouped": "category"
    },
    parse_dates=["dt"],
    names=columns,
    header=0,
    usecols=["lclid", "dt", "c", "acorn"]
)

ddf.c = (
    ddf.c.map_partitions(pd.to_numeric, errors="coerce", downcast="float")
    .fillna(0)
)

ddf.to_parquet(
    data_dir / "lcl.snappy.parquet",
    compression="snappy",
)