In [1]:
from pathlib import Path
import sys

import pandas as pd

sys.path.insert(0, str(Path(".").resolve().parent.parent))
from src import DATA_DIR

In [86]:
df = (
    pd.read_parquet(DATA_DIR / "lcl.snappy.parquet" / "part.2.parquet")
    .astype({"lclid": "string"})
    .drop_duplicates(["dt", "lclid", "c"])[["lclid", "dt", "c"]]
)

df2 = (
    df.set_index([df.dt.dt.date, df.lclid, df.dt.dt.time])
    .drop(columns=["dt", "lclid"])
    .sort_index()
    .unstack()
)

df2

                            c                                               \
dt                   00:00:00 00:30:00 01:00:00 01:30:00 02:00:00 02:30:00
dt         lclid
2012-03-02 MAC000296      NaN      NaN      NaN      NaN      NaN      NaN
           MAC000297      NaN      NaN      NaN      NaN      NaN      NaN
           MAC000299      NaN      NaN      NaN      NaN      NaN      NaN
2012-03-03 MAC000296    0.123    0.039    0.052    0.036    0.019    0.020
           MAC000297    0.045    0.021    0.006    0.007    0.006    0.007
...                       ...      ...      ...      ...      ...      ...
2014-02-28 MAC000319    0.367      NaN      NaN      NaN      NaN      NaN
           MAC000320    1.161      NaN      NaN      NaN      NaN      NaN
           MAC000321    0.291      NaN      NaN      NaN      NaN      NaN
           MAC000322    0.137      NaN      NaN      NaN      NaN      NaN
           MAC000323    0.334      NaN      NaN      NaN      NaN      NaN

                                                          ...           \
dt                   03:00:00 03:30:00 04:00:00 04:30:00  ... 19:00:00
dt         lclid                                          ...
2012-03-02 MAC000296      NaN      NaN      NaN      NaN  ...    0.281
           MAC000297      NaN      NaN      NaN      NaN  ...    0.046
           MAC000299      NaN      NaN      NaN      NaN  ...    0.949
2012-03-03 MAC000296    0.067    0.020    0.020    0.023  ...    0.434
           MAC000297    0.006    0.036    0.049    0.047  ...    0.937
...                       ...      ...      ...      ...  ...      ...
2014-02-28 MAC000319      NaN      NaN      NaN      NaN  ...      NaN
           MAC000320      NaN      NaN      NaN      NaN  ...      NaN
           MAC000321      NaN      NaN      NaN      NaN  ...      NaN
           MAC000322      NaN      NaN      NaN      NaN  ...      NaN
           MAC000323      NaN      NaN      NaN      NaN  ...      NaN

                                                                            \
dt                   19:30:00 20:00:00 20:30:00 21:00:00 21:30:00 22:00:00
dt         lclid
2012-03-02 MAC000296    0.214    0.786    1.064    0.856    1.268    0.677
           MAC000297    0.045    0.017    0.006    0.007    0.006    0.007
           MAC000299    0.582    0.630    0.173    0.118    0.120    0.069
2012-03-03 MAC000296    0.338    0.339    0.218    0.199    0.194    0.016
           MAC000297    0.881    0.848    0.147    0.132    0.369    0.216
...                       ...      ...      ...      ...      ...      ...
2014-02-28 MAC000319      NaN      NaN      NaN      NaN      NaN      NaN
           MAC000320      NaN      NaN      NaN      NaN      NaN      NaN
           MAC000321      NaN      NaN      NaN      NaN      NaN      NaN
           MAC000322      NaN      NaN      NaN      NaN      NaN      NaN
           MAC000323      NaN      NaN      NaN      NaN      NaN      NaN


dt                   22:30:00 23:00:00 23:30:00
dt         lclid
2012-03-02 MAC000296    0.122    0.108    0.281
           MAC000297    0.006    0.047    0.048
           MAC000299    0.136    0.058    0.037
2012-03-03 MAC000296    0.076    0.115    0.298
           MAC000297    0.243    0.175    0.163
...                       ...      ...      ...
2014-02-28 MAC000319      NaN      NaN      NaN
           MAC000320      NaN      NaN      NaN
           MAC000321      NaN      NaN      NaN
           MAC000322      NaN      NaN      NaN
           MAC000323      NaN      NaN      NaN

[19586 rows x 52 columns]